body{
    background-color: rgb(211, 252, 238);
}

h1{
    font-size: 30px;
    color:salmon;
}
h2{
    font-size: 30px;
    color:teal;
}
.big{
    font-size: 50px;
    color:rgb(161, 81, 144);
}

.uppercase{
    text-transform: uppercase;
}

span{
    color:blueviolet;
}

img{
    width: 50%;
}